.card_container {
  display: inline-block;
  margin: 5px;
  width: 330px;
  height: 300px;
  position: relative;
  border-radius: 20px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card_container:hover .card {
  transform: rotateX(180deg);
}

.card_front,
.card_back {
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #f9f9f9;
}

.card_front {
  margin: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card_front p {
  color: black;
}
.card_front p:first-child {
  color: black;
  font-weight: 800;
}
.card_back p:nth-child(2) {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
.card_back {
  width: 100%;
  transform: rotateX(180deg);
  color: #fff;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
    0 2px 2px rgba(0, 0, 0, 0.15) 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15);
}
.card_back ul {
  list-style-type: disc;
}

.card_back button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}
